<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .text-vw {
            font-size: 16vw;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="flex items-center justify-center h-screen font-sans font-semibold">
        <div class="text-vw">
            <span class="number first">{{ left }}</span>
            <span class="operand">{{ operand }}</span>
            <span class="number second">{{ right }}</span>
            <span class="equals">=</span>
            <span class="number answer">{{ answer }}</span>
        </div>
        <div class="fixed top-0 inset-x-0 p-2 bg-gradient-to-b from-red-400 to-yellow-500">
            <div class="flex justify-center">
                <span>
                    <label>Algorithm:</label>
                    <select id="baseLeft" v-model="baseLeft">
                        <option value="random">Random</option>
                        <option value="increment">Increment</option>
                    </select>
                    <select id="operand" v-model="operand">
                        <option value="×">×</option>
                    </select>
                    <select id="baseRight" v-model="baseRight">
                        <option value="random">Random</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    &nbsp;
                    <label>Speed:</label>
                    <select id="difficulty" v-model="difficulty">
                        <option value="5">Slow</option>
                        <option value="2">Fast</option>
                        <option value="3">Normal</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            max: 12,
            baseLeft: 'random',
            baseRight: 'random',
            operand: '×',
            difficulty: 3,
            left: 0,
            right: 0,
            showAnswer: false,
            showTimeout: null,
            interval: null
        },
        computed: {
            answer: function () {
                return this.showAnswer ? (this.left * this.right) : '??';
            },
            delay: function () {
                return parseInt(this.difficulty) * 1000;
            }
        },
        watch: {
            baseLeft: function (val, oldVal) {
                this.left = 1;
                this.next();
            },
            baseRight: function (val, oldVal) {
                this.left = 1;
                if (val != 'random') {
                    this.right = parseInt(val);
                }
                this.next();
            },
            difficulty: function (val, oldVal) {
                this.next();
            }
        },
        methods: {
            next: function () {
                if (this.interval) {
                    clearInterval(this.interval)
                    this.interval = null;
                }
                if (this.showTimeout) {
                    clearTimeout(this.showTimeout);
                    this.showTimeout = null;
                }

                if (this.baseLeft == 'random' || this.baseRight == 'random') {
                    this.interval = setInterval(
                        function () {
                            app.randomise();
                        },
                        this.delay + 3000
                    );
                    app.randomise();
                } else {
                    this.left = 0;
                    this.interval = setInterval(
                        function () {
                            app.table();
                        },
                        this.delay
                    );
                    app.table();
                }
            },

            incrementLeft: function () {
                app.left++;
                if (app.left > app.max) {
                    app.left = 1;
                }
            },

            table: function () {
                this.showAnswer = true;
                this.incrementLeft();
            },

            randomise: function () {
                if (app.baseLeft != 'random') {
                    app.incrementLeft();
                }

                this.showAnswer = false;
                let interval = setInterval(
                    function () {
                        if (app.baseLeft == 'random') {
                            app.left = Math.floor(Math.random() * app.max + 1);
                        }
                        if (app.baseRight == 'random') {
                            app.right = Math.floor(Math.random() * app.max + 1);
                        }
                    },
                    100
                );
                setTimeout(
                    function () {
                        clearInterval(interval);
                    },
                    1000
                );

                if (this.showTimeout) {
                    clearTimeout(this.showTimeout);
                }
                this.showTimeout = setTimeout(
                    function () {
                        app.showAnswer = true;
                        app.showTimeout = null;
                    },
                    this.delay
                );
            }
        }
    });
    app.next();
</script>
</body>
</html>
